$color-pack = false;

@import '~vuetify/src/stylus/app.styl'

.page
  @extend .fade-transition

html
  overflow-y auto

.toolbar__items >
  .btn
    &:hover:not(.btn--active)
    // &:focus
      border-bottom: 0.2rem solid #221122
      .btn__content:before
        background-color: transparent
    &--active
      border-bottom: 0.2rem solid #F44336


