$color-pack = false;
@require '~vuetify/src/stylus/app.styl'

.page
  @extend .fade-transition

html
  overflow-y auto

body
  -webkit-font-smoothing: antialiased

.toolbar__items >
  .btn
    &:hover:not(.btn--active)
    // &:focus
      border-bottom: 0.2rem solid #221122
      .btn__content:before
        background-color: transparent
    &--active
      border-bottom: 0.2rem solid #F44336

.bgx
  background-image: linear-gradient(322deg,#da2b2b 20%,#000000 78%)
